@inherits PageBase
@attribute [Route(PageConstants.MyChangePassword)]

@if (userId == 0 && errorMessage == null)
{
    <SpinnerDisplay />
}
else if (errorMessage != null)
{
    <ErrorDisplay ErrorMessage="@errorMessage" />
}
else
{
    <div class="card mt-3 m-auto" style="width:500px;">
        <h5 class="card-header">
            Change Password
        </h5>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-4"><label for="CurrentPasswordInput" class="form-label">Current Password</label></div>
                <div class="col-8"><input id="CurrentPasswordInput" type="password" class="form-control" @bind-value="@currentPassword" /></div>
            </div>

            <div class="alert alert-danger p-2" role="alert" hidden="@invalidPasswordHidden">
                <i class="bi bi-exclamation-triangle pe-2"></i>
                Current password is incorrect
            </div>

            <div class="row mb-3">
                <div class="col-4"><label for="NewPasswordInput" class="form-label">New Password</label></div>
                <div class="col-8"><input id="NewPasswordInput" type="password" class="form-control" @bind-value="@newPassword" /></div>
            </div>
            <div class="row mb-3">
                <div class="col-4"><label for="ConfirmPasswordInput" class="form-label">Confirm Password</label></div>
                <div class="col-8"><input id="ConfirmPasswordInput" type="password" class="form-control" @bind-value="@confirmPassword" /></div>
            </div>

            <div class="alert alert-danger p-2" role="alert" hidden="@invalidConfirmHidden">
                <i class="bi bi-exclamation-triangle pe-2"></i>
                Confirm password does not match new password
            </div>

            <div class="row text-end">
                <div class="col">
                    <button class="btn btn-primary" onclick="@(async () => await SaveAsync())">Save</button>
                </div>
            </div>
        </div>
    </div>
}
